pydantic==2.13.4
numpy==2.2.6
pillow==12.3.0
safetensors==0.8.0
pyyaml==6.0.3
rasterio==1.4.4
opencv-python-headless==4.11.0.86
terratorch==1.2.10
urllib3==2.7.0
msgpack==1.2.1
soupsieve==2.8.4
brotli==1.2.0
h2==4.4.1
requests==2.33.0
filelock==3.20.3
pygments==2.20.0
lief==0.17.2
idna==3.15
